# Auto detect text files and perform LF normalization
* text=auto
Mandate_Cont.dta filter=lfs diff=lfs merge=lfs -text
data_m13.dta filter=lfs diff=lfs merge=lfs -text
GEDEvent_v22_1.dta filter=lfs diff=lfs merge=lfs -text
dyadic_formatv3.csv filter=lfs diff=lfs merge=lfs -text
V-Dem-CY-Core-v11.1.dta filter=lfs diff=lfs merge=lfs -text
